#subscribe-wrapper form {
    line-height: inherit;
    position: relative;
}
#subscribe-wrapper .footer_subscribe {
    line-height: 120px;
}
#subscribe-wrapper form label {
    display: flex;
    justify-content: center;
    align-items: center;
}
#subscribe-wrapper form label span:first-child {
    margin-right: 15px;
}
#subscribe-wrapper form label span:not(:first-child) {
    display: flex;
}
#subscribe-wrapper form input[type="email"] {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    border: 1px solid #d45008;
    border-radius: 8px;
}
#subscribe-wrapper form input[type="email"],
#subscribe-wrapper form input[type="submit"] {
    font-size: 15px;
}
form.wpcf7-form div.wpcf7-response-output,
form.wpcf7-form span[role="alert"] {
    display: block !important;
    bottom: -7px;
    left: 0;
    right: 0;
}
#subscribe-wrapper form label span.wpcf7-not-valid-tip {
    display: none !important;
}
#subscribe-wrapper div.wpcf7-mail-sent-ok {
    background: rgba(255,255,255,0.5);
    border: none;
    color: #fff;
}
#subscribe-wrapper div.wpcf7-validation-errors {
    background: rgba(247,231,0,0.5);
    border: none;
    color: #fff;
}

a.woocommerce-main-image {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.showStart {
    opacity: 1 !important;
}


#subscribe-wrapper .ajax-loader {
    display: none !important;
}
#block-mainnav .jv-module ul.fxmenu li a {
    text-transform: uppercase;
    font-weight: 500;
}

.footer-group #block-bottomb {
    padding: 30px 0 0 0;
}
.footer-group #block-footer {
    line-height: 45px;
}
.vm-single-info-cart,
.vm-single-info-bottom {
    clear: both;
}
.vm-single-info-bottom .vm-product-addcart-tool,
.vm-single-info-bottom .share-button-group {
    margin-top: 15px;
}
.vm-single-tabs .tab-content.new-one-tabs-style {
    padding: 0;
}
/*.collapse.in {
    overflow: auto;
}*/

@media screen and (min-width: 0px) and (max-width: 992px) {
    .block-menu-search {
        display: block !important;
        height: 53px;
        /*background: red;*/

        position: absolute;
        top: 50px;
        width: 60%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 6px 0;
    }
    .block-menu-search > .container {
        padding: 0 5px;
        width: 100%;
    }
    .block-menu-search * {
        height: 100%;
        text-align: left;
    }
    .block-menu-search .position-search {
        max-height: none;
        line-height: inherit;
        float: none;
        display: block;
    }
    .block-menu-search .position-search .widget_shopping_cart_content {
        display: none;
    }
    .block-menu-search .position-search .menu-jvajaxsearch {
        width: 100%;
        top: 0;
    }
    .block-menu-search .position-search .jv-ajaxsearchpro--icon {
        border: 2px solid #ee7401;
        margin-right: -45px;
        float: left;
    }
    .block-menu-search .jv-ajaxsearchpro.active .jv-ajaxsearchpro--form input {
        max-width: 185px;
    }
    .position-panel-3 {
        display: none;
    }
}
@media screen and (min-width: 516px) and (max-width: 992px)  {
    .block-menu-search {
        top: 190px;
        width: 75%;
    }
}
@media screen and (min-width: 825px) and (max-width: 992px)  {
    .block-menu-search {
        top: 190px;
        width: 75%;
        max-width: 625px;
    }
}
@media screen and (min-width: 992px) and (max-width: 993px) {
    .block-menu-search {
        top: 190px;
        width: 85%;
        max-width: none;
    }
}





/*************** 18.04.2017 ***************/
@media screen and (min-width: 0) and (max-width: 480px) {
    .footer-group #block-footer p {
        font-size: 12px;
    }

    .block-menu-search .position-search .jv-ajaxsearchpro--icon {
        margin-top: 4px;
    }

}
@media screen and (min-width: 400px) and (max-width: 515px) {
    .footer-group .blockequalize > div:nth-child(1) > div {
        width: 100%;
    }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
    .footer-group .blockequalize > div:nth-child(2),
    .footer-group .blockequalize > div:nth-child(3) {
        width: 50% !important;
    }
    .footer-group .blockequalize > div:nth-child(2),
    .footer-group .blockequalize > div:nth-child(3),
    .footer-group .blockequalize > div:nth-child(2) h3,
    .footer-group .blockequalize > div:nth-child(3) h3{
        text-align: left;
    }
    .logo-footer a img {
        max-width: 300px;
    }
    .footer-group .blockequalize > div:nth-child(1) {
        text-align: center;
    }

}
@media screen and (min-width: 0) and (max-width: 767px) {
    .footer-group #block-bottomb {
        padding-bottom: 0;
    }

}
article[rel="contact-page"] form input {
    height: auto !important;
}
#block-main {
    z-index: 15;
}


/*.headroom #block-panel-full-site,
.headroom #block-header {
    transition: all 0.1s ease-in-out;
}

.headroom--not-top #block-panel-full-site,
.headroom--not-top #block-header {
    display: block;
    opacity: 0;
    height: 0;
}
*/


/*#fullResImage {
    max-width: 100% !important;
    height: auto !important;
    max-height: inherit !important;
}*/


.pp_pic_holder.pp_woocommerce {
    width: 100% !important;
    max-width: 1000px;
    height: 100% !important;
    max-height: 75%;
    margin: 0 auto;

    position: fixed;
    top: 10% !important;
    left: 0 !important;
    right: 0 !important;
}

.pp_gallery .pp_arrow_next,
.pp_gallery .pp_arrow_previous,
.pp_top,
.pp_bottom {
    display: none !important;
}

/*.pp_pic_holder,
.pp_pic_holder div {
    transition: all 0.2s ease-in-out;
}*/
#block-mainnav .jv-module ul.fxmenu li a{
    font-weight: 500 !important;
}
#pp_full_res {
    overflow: hidden;
    position: relative;
}
#pp_full_res img {
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;
}


.pp_content {
    overflow: visible !important;
}
.pp_fade {
    display: flex;
}
.pp_fade > #pp_full_res {
    width: 85%;
}
.pp_fade > .pp_gallery {
    width: 15%;
    z-index: 1;
}
div.pp_woocommerce .pp_close {
    text-shadow: none;
    background: #d6d6d6;
    color: transparent !important;
    text-indent: inherit;
    overflow: hidden;

    z-index: 100;
    top: 10px;
    right: 10px;
}
div.pp_woocommerce .pp_close:before {
    content: '';
    background: url("../images/cancel.png") no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;
}
div.pp_woocommerce .pp_close:hover {
    background: #ee7401;
}

.pp_fade {
    position: relative;
}
.pp_fade > .pp_gallery {
    height: auto !important;
    overflow: hidden;
    margin-top: 40px;

    float: none !important;

    position: absolute !important;
    left: auto;
    right: 0;
}
.pp_fade > .pp_gallery ul {
    margin: 0 auto;
    /*left: 12px !important;*/
    /*padding-right: 17px;*/
    position: static !important;
}
.pp_fade > .pp_gallery ul li {
    position: relative;
}

.pp_fade > .pp_gallery ul li a {
    display: block !important;
    margin: 0 auto;
}

.pp_fade > .pp_gallery ul li a img {
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.pp_fade > .pp_gallery ul li.selected a {
    border: 2px solid #ee7401 !important;
}


.pp_gallery div.gallery_arrows {
    /*background: url("../images/arrow-t.png") no-repeat center center;
    background-size: cover;*/
    cursor: pointer;

    width: 30px !important;
    height: 30px !important;
    margin: 0 auto;

    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.pp_gallery div.gallery_go_bot {
    top: auto;
    bottom: 0;
}

.pp_gallery div.gallery_arrows:before,
.pp_gallery div.gallery_arrows:after {
    content: '';
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-in-out;
    position: absolute;
}



.pp_gallery div.gallery_go_top:before {
    background: url("../images/arrow-t.png") no-repeat center center;
    background-size: cover;
}
.pp_gallery div.gallery_go_top:after {
    background: url("../images/arrow-t-a.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}

.pp_gallery div.gallery_go_top:hover:before {
    background: url("../images/arrow-t.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.pp_gallery div.gallery_go_top:hover:after {
    background: url("../images/arrow-t-a.png") no-repeat center center;
    background-size: cover;
    opacity: 1;
}


.pp_gallery div.gallery_go_bot:before {
    background: url("../images/arrow-b.png") no-repeat center center;
    background-size: cover;
}
.pp_gallery div.gallery_go_bot:after {
    background: url("../images/arrow-b-a.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}

.pp_gallery div.gallery_go_bot:hover:before {
    background: url("../images/arrow-b.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.pp_gallery div.gallery_go_bot:hover:after {
    background: url("../images/arrow-b-a.png") no-repeat center center;
    background-size: cover;
    opacity: 1;
}


.pp_gallery div.galley_cover_new {
    margin-top: 35px;

    height: 425px !important;
    overflow: hidden;
}






.button-prev-click,
.button-next-click {
    cursor: pointer;

    width: 60px;
    height: 100px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    opacity: 0.75;

    z-index: 500;
    position: absolute;
    top: 42%;
    left: 5px;
}
.button-prev-click:hover,
.button-next-click:hover {
    opacity: 1;
}
.button-next-click {
    left: auto;
    right: 15.5%;
}

.button-switcher-new:before,
.button-switcher-new:after {
    content: '';
    width: 60px;
    height: 100px;
    transition: all 0.3s ease-in-out;
    position: absolute;
}


.button-prev-click:before {
    background: url("../images/prev-a.png") no-repeat center center;
    background-size: cover;
}
.button-prev-click:after {
    background: url("../images/prev.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.button-prev-click:hover:before {
    background: url("../images/prev-a.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.button-prev-click:hover:after {
    background: url("../images/prev.png") no-repeat center center;
    background-size: cover;
    opacity: 1;
}


.button-next-click:before {
    background: url("../images/next-a.png") no-repeat center center;
    background-size: cover;
}
.button-next-click:after {
    background: url("../images/next.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.button-next-click:hover:before {
    background: url("../images/next-a.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.button-next-click:hover:after {
    background: url("../images/next.png") no-repeat center center;
    background-size: cover;
    opacity: 1;
}





/********** 03.05.2017 **********/
@media screen and (min-width: 0) and (max-width: 1599px) {
    .pp_pic_holder.pp_woocommerce {
        width: 95% !important;
    }
    .vm-single .layout {
        display: none;
    }
    div.pp_woocommerce .pp_close {
        width: 25px;
        height: 25px;
    }
    .button-prev-click,
    .button-next-click,
    .button-switcher-new:before,
    .button-switcher-new:after {
        width: 30px;
        height: 40px;
    }
    .button-prev-click {
        left: -17px;
    }
    .button-next-click {
        right: -17px;
    }
    #fullResImage {
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
    }
    #pp_full_res {
        width: 88% !important;
        margin: 0 auto;
    }
}
@media screen and (min-width: 480px) and (max-width: 1599px) {
    .button-prev-click {
        left: -15px;
    }
    .button-next-click {
        right: 15%;
    }
    #pp_full_res {
        width: 70% !important;
        margin: 0 0 0 5%;
    }
    div.pp_woocommerce .pp_gallery {
        display: block !important;
    }
    .pp_fade > .pp_gallery {
        max-height: 100% !important;
        width: 27%;
        right: -20px;
    }
    .pp_gallery div.gallery_go_bot {
        width: 100% !important;
        background: #fff;
    }
    .pp_gallery div.gallery_arrows:before,
    .pp_gallery div.gallery_arrows:after {
        transform: translateX(-50%);
        left: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
    .pp_pic_holder.pp_woocommerce {
        overflow: hidden;
        max-height: 90% !important;
        top: 5% !important;
        z-index: 100000;
    }
    .button-prev-click {
        left: -5px;
    }
    .button-next-click {
        right: 15%;
    }
    .pp_fade > .pp_gallery {
        width: 15%;
        right: 0;
    }
    #pp_full_res {
        width: 75% !important;
        margin: 0 0 0 5%;
    }
    #fullResImage {
        width: auto !important;
        max-width: none !important;
        height: 100% !important;
    }
}


.gallery_product_preview_both {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.gallery_product_preview_both:before,
.gallery_product_preview_both:after {
    content: '';
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-in-out;
    position: absolute;
}
.gallery_product_preview_top:before {
    background: url("../images/arrow-t.png") no-repeat center center;
    background-size: cover;
}
.gallery_product_preview_top:after {
    background: url("../images/arrow-t-a.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.gallery_product_preview_top:hover:before {
    background: url("../images/arrow-t.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.gallery_product_preview_top:hover:after {
    background: url("../images/arrow-t-a.png") no-repeat center center;
    background-size: cover;
    opacity: 1;
}
.gallery_product_preview_bot:before {
    background: url("../images/arrow-b.png") no-repeat center center;
    background-size: cover;
}
.gallery_product_preview_bot:after {
    background: url("../images/arrow-b-a.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.gallery_product_preview_bot:hover:before {
    background: url("../images/arrow-b.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.gallery_product_preview_bot:hover:after {
    background: url("../images/arrow-b-a.png") no-repeat center center;
    background-size: cover;
    opacity: 1;
}

#additionalCr li img {
    border-radius: 3px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
#additionalCr li:hover img {
    border: 2px solid #ee7401;
}
#additionalCrS,
#additionalCrS li {
    position: relative !important;
}


@media screen and (min-width: 0) and (max-width: 991px) {
    #additionalCr {
        display: block;
        position: relative !important;
        width: 30%;
        max-width: 125px;
        margin-top: 10px;
    }
    /*.vm-single-viewer-images {*/
        /*width: 70%;*/
    /*}*/
    ul.thumbnails.slides {
        margin: 0;
        height: 215px;
    }
}
@media screen and (min-width: 480px) and (max-width: 991px) {
    ul.thumbnails.slides {
        height: 325px;
    }
}
@media screen and (min-width: 480px) and (max-width: 991px) {
    ul.thumbnails.slides {
        height: 440px;
    }
}

#post-5 .shipping {
    display: none !important;
}

@media screen and (min-width: 0) and (max-width: 767px) {
    #tabs-single-product {
        border: none;
    }
    .panel-group {
        margin-bottom: 0;
    }
    .panel-group .panel {
        border: 1px solid #e0e0e0;
        border-radius: 0;
    }
    .panel-group .panel:not(last-child){
        border-bottom: none;
    }
    .panel-group .panel:last-child{
        border: 1px solid #e0e0e0;
    }
    .panel-group .panel+.panel {
        margin-top: 0;
    }
    .panel-heading {
        padding: 0;
    }
    .panel-title > a {
        padding: 15px;
        width: 100%;
        display: block;
        z-index: 1000;
    }
    .panel-title {
        color: #868883;
        font-size: 16px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 0) and (max-width: 991px) {
    .headroom .position-panel-3 > i,
    .headroom .position-panel-3 > a {
        display: none;
    }
    .headroom .position-panel-3:after {
        content: '';
        display: table;
        clear: both;
    }
    #block-panel {
        border-top: 4px solid #ee7401;
    }
    #block-panel {
        padding: 5px 0;
    }
    .header_mobile_phone {
        color: #ee7401;
        float: left;
        display: flex;
        align-items: center;
    }
    #block-panel i {
        color: #ee7401;
        font-size: 20px;
        margin-right: 10px !important;
    }
    .jv-ajaxsearchpro--form .jv-ajaxsearchpro--wrapper {
        bottom: 0;
        width: 100%;
    }
    .jv-ajaxsearchpro.active .jv-ajaxsearchpro--wrapper-input {
        min-width: 100%;
    }
}
@media screen and (min-width: 0) and (max-width: 992px) {
    .block-menu-search {
        top: -10px;
    }
    a.flexMenuToggle {
        border-radius: 0;
        width: 42px;
    }
    .sidebar, #main-content {
        padding-top: 30px;
    }
}
@media screen and (min-width: 992px) {
    .header_mobile_phone {
        display: none !important;
    }
}
@media screen and (min-width: 0) and (max-width: 479px) {
    .responsive-layout .responsive-layout--top {
        margin-bottom: 105px;
        display: none;
    }
    .block-menu-search {
        width: auto;
        left: 60px;
    }
    .jv-ajaxsearchpro--form input {
        width: 100%;
        max-width: 100%;
        visibility: visible;
        opacity: 1;
        background-color: #fff!important;
        padding-left: 10px;
    }
    .jv-ajaxsearchpro--form .jv-ajaxsearchpro--wrapper {
        width: auto;
        margin-right: 100px;
        /*left: 55px;*/
        /*bottom: 0;*/
        top: 4px;
        /*margin-left: 45px;*/
        float: left;
        /*margin-top: 4px;*/
    }
    .headroom--not-top .jv-ajaxsearchpro--form .jv-ajaxsearchpro--wrapper {
        bottom: 0;
    }
    .vm-single-info-cart .addtocart-bar input.addtocart-button {
        padding: 3px 30px;
    }
    #menu-glavnoe-menyu {
        display: none;
    }
}
@media screen and (min-width: 480px) and (max-width: 991px) {
    .responsive-layout .responsive-layout--top {
        margin-bottom: 105px;
        display: none;
    }
    .block-menu-search {
        top: -7px;
        left: 65px;
        width: 100%;
        height: 53px;
        max-width: 45%;
        right: auto;
    }
    a.flexMenuToggle {
        width: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (min-width: 875px) and (max-width: 991px) {

}
@media screen and (min-width: 992px) and (max-width: 993px) {
    .block-menu-search {
        width: 55%;
        max-width: none;
        left: 8%;
        right: auto;
        top: 189px;
        height: 52px;
    }
}






/********** 23/05/2017 **********/
.jv-module.panel-extra-info {
    padding: 30px 0;
}
.z-index-top {
    padding-top: 169px;
}
.vc_custom_1482253338970 {
    margin-bottom: -15px !important;
}
.block-menu-search .position-search {
    line-height: 46px !important;
}
/*ul#color li {
    margin-bottom: 4px;
}*/

/*ul#color li,
ul#color li a {
    margin-bottom: 0;
}*/
.addtocart-button {
    float: right;
    max-width: 215px;
    width: 100%;
}
@media (max-width: 480px) {
    .addtocart-button {
        width: calc(100% - 130px);
    }
}
.vm-single-info-bottom {
    padding-top: 10px;
}
.at-svc-odnoklassniki_ru {
    display: none !important;
}
.vm-single-info-bottom .share-button-group > span {
    margin-right: 10px;
}
.jvvm-custom {
    direction: ltr;
}
#block-breadcrumb2 .jv-breadcrumb {
    /*padding-top: 28px;*/
}
article[rel="contact-page"] ul li:first-child {
    display: none;
}
article[rel="contact-page"] .form-group {
    text-align: right;
    position: relative;
}
article[rel="contact-page"] div.wpcf7 .ajax-loader {
    position: absolute;
    right: -29px;
    bottom: 13px;
}
.contact-block-footer i {
    margin-right: 7px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .vc_custom_1477338174457 .jv-module.module.jv-module-center-title.active-owl,
    .footer-group .equal-column > div:nth-child(2),
    .footer-group .equal-column > div:nth-child(3) {
        display: none;
    }
}


/********** 01/06/2017 **********/
ul.thumbnails.slides li {
    position: relative;
}
.woocommerce-billing-fields > #billing_address_1_field,
.woocommerce-billing-fields > #department_field {
    display: none;
}

.custom-logo-link_promate {
    background: url('../images/logo.svg') center center no-repeat transparent;
    background-image: url('../images/logo.svg'), -khtml-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), -webkit-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), url('../images/logo.svg');
    background-image: url('../images/logo.svg'), -ms-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), -o-linear-gradient(transparent, transparent);
    background-repeat: no-repeat, no-repeat;
    -moz-background-size: 0 0, 100% 100%; /* FF3.6 */
    background-size: 100% 100%, 0 0;

    /* Скрываем текст */
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    color: rgba(255,255,255,0);

    /* Устанавливаем размеры логотипа */
    display: block;
    height: 57px;
    width: 100%;
}

.custom-nekit {
    /*display: inline-block;*/
    margin: 0 auto;

}

.promate_logo {
    width: 247px;
}

.super_main-header {
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
}
#mainsite {
    top: 169px;
}
.w100 {
    width: 100%;
    background-color: #fff;
    height: 51px;
    box-shadow: 4px 2px 4px rgba(200,200,200,.5);
    position: relative;
}
.active-menu-item {
    background-color: #AC1C21 !important;
}

.menu-item-object-product_cat {
    background-color: #1a1a1a;
}
#fxmenu1 .menu-item-type-post_type a {
    color: #000;
}

@media (min-width: 993px) {
    .custom-nekit {
        display: none;
    }
}
@media (max-width: 992px) {
    .custom-nekit p {
        margin: 10px 0;
    }
}
.dopcontentmod {
    text-align: right;
}
#main-content .vm-single {
    margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
    .insta {
        margin-bottom: 0 !important;
    }
}

